<article class="template template-1 palette-{{palette.id}}">
  <header>
    <div class="row">
      <div class="col-sm-3 col-avatar">
        <div class="avatar"></div>
      </div>

      <div class="col-sm-8 col-name">
        {{resume/yr-editor content=user.header.name sm=sm tn='h1'}}
        {{resume/yr-editor content=user.header.profession sm=sm tn='h2'}}
      </div>
    </div>
  </header>

  <section>
    <div class="row">
      <div class="col-sm-3 col-title">
        <h1>Contact</h1>
      </div>

      <div class="col-sm-8 col-content">
        <div class="row">
          <div class="col-sm-6">
            <h2>Email</h2>
            {{resume/yr-editor content=user.contact.email sm=sm tn='p'}}
          </div>

          <div class="col-sm-6">
            <h2>Address</h2>

            <p>
              {{resume/yr-editor
                content=user.contact.address.first_line
                sm=sm
                tn='span'}}<br>

              {{resume/yr-editor
                content=user.contact.address.second_line
                sm=sm
                tn='span'}}<br>

              {{resume/yr-editor
                content=user.contact.address.third_line
                sm=sm
                tn='span'}}
            </p>
          </div>

          <div class="col-sm-6">
            <h2>Phone</h2>

            {{#each user.contact.phones as |phone|}}
              {{resume/yr-editor content=phone.desc sm=sm tn='p'}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-3 col-title">
        <h1>Experience</h1>
      </div>

      <div class="col-sm-8 col-content">
        {{#each user.body.experiences as |experience|}}
          <div class="experience">
            <h2>
              {{resume/yr-editor content=experience.org_name sm=sm tn='span'}}

              {{#if experience.role}}
                , {{resume/yr-editor content=experience.role sm=sm tn='span'}}
              {{/if}}
            </h2>

            {{#if (and experience.dates.from experience.dates.to)}}
              <h3>
                {{#if experience.dates.from}}
                  {{resume/yr-editor
                    content=experience.dates.from
                    sm=sm
                    tn='span'}}
                {{/if}}

                {{#if experience.dates.to}}
                  - {{resume/yr-editor
                      content=experience.dates.to
                      sm=sm
                      tn='span'}}
                {{/if}}
              </h3>
            {{/if}}

            <ul>
              {{#each experience.tasks as |task|}}
                {{#if task.desc}}
                  {{#if task.desc}}
                    <li>
                      {{resume/yr-editor content=task.desc sm=sm tn='span'}}
                      <span class="bullet">&bullet;</span>
                    </li>
                  {{/if}}
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-3 col-title">
        <h1>Skills</h1>
      </div>

      <div class="col-sm-8 col-content">
        <ul>
          {{#each user.body.skills as |skill|}}
            <li>
              {{resume/yr-editor content=skill.desc wrap=true sm=sm tn='span'}}
              <span class="bullet">&bullet;</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-3 col-title">
        <h1>Education</h1>
      </div>

      <div class="col-sm-8 col-content">
        {{#each user.body.eductions as |eduction|}}
          <div class="experience">
            {{resume/yr-editor content=eduction.inst_name sm=sm tn='h2'}}
            {{resume/yr-editor content=eduction.course sm=sm tn='h3'}}
            {{resume/yr-editor content=eduction.date sm=sm tn='p'}}

            {{!-- <p>
              {{eduction.dates.from}}
              {{eduction.dates.to}}
            </p> --}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</article>
