<article class="template template-1 palette-{{palette.id}}">
  <div class="overlay"></div>

  <header>
    <div class="row">
      <div class="col-sm-2"></div>

      <div class="col-sm-8 col-name">
        {{resume/yr-editor content=user.header.name sm=sm tn='h1'}}
        {{resume/yr-editor content=user.header.profession sm=sm tn='h2'}}
      </div>
    </div>
  </header>

  <section>
    <div class="row">
      <div class="col-sm-2 col-title"></div>

      <div class="col-sm-8 col-content">
        <h1>Contact</h1>

        <div class="row">
          <div class="col-sm-4">
            <h2>Email</h2>
            {{resume/yr-editor content=user.contact.email sm=sm tn='p'}}
          </div>

          <div class="col-sm-4">
            <h2>Address</h2>

            <p>
              {{resume/yr-editor
                content=user.contact.address.first_line
                sm=sm
                tn='span'}}

              {{resume/yr-editor
                content=user.contact.address.second_line
                sm=sm
                tn='span'}}

              {{resume/yr-editor
                content=user.contact.address.third_line
                sm=sm
                tn='span'}}
            </p>
          </div>

          <div class="col-sm-4">
            <h2>Phone</h2>

            <p>
              {{#each user.contact.phones as |phone|}}
                {{resume/yr-editor content=phone.desc sm=sm tn='span'}}
              {{/each}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-2 col-title"></div>

      <div class="col-sm-8 col-content">
        <h1>Experience</h1>

        {{#each user.body.experiences as |experience|}}
          <div class="inner-section">
            {{resume/yr-editor content=experience.title sm=sm tn='h2'}}
            {{resume/yr-editor content=experience.date sm=sm tn='h3'}}

            <ul>
              {{#each experience.tasks as |task|}}
                <li>
                  {{resume/yr-editor content=task.desc sm=sm tn='span'}}
                  <span class="bullet">&bullet;</span>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-2 col-title"></div>

      <div class="col-sm-8 col-content">
        <h1>Skills</h1>

        <ul>
          {{#each user.body.skills as |skill|}}
            <li>
              {{resume/yr-editor content=skill.desc wrap=true sm=sm tn='span'}}
              <span class="bullet">&bullet;</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-2 col-title"></div>

      <div class="col-sm-8 col-content">
        <h1>Education</h1>

        {{#each user.body.eductions as |eduction|}}
          <div>
            {{resume/yr-editor content=eduction.title sm=sm tn='h2'}}
            {{resume/yr-editor content=eduction.date sm=sm tn='h3'}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</article>
