<ul class="timeline">
  <li>
    <span id="counter-1"
          class="counter"
          {{action 'scrollToElem' '#counter-1'}}>
      1
    </span>

    {{yr-pick-a-template
      templates=resume.templates
      template=resume.template
      selectTemplate='selectTemplate'}}
  </li>

  <li>
    <span id="counter-2"
          class="counter"
          {{action 'scrollToElem' '#counter-2'}}>
      2
    </span>

    {{resume/yr-edit-the-template
      template=resume.template
      palettes=resume.palettes
      palette=resume.palette
      selectPalette='selectPalette'}}
  </li>

  <li>
    <span id="counter-3"
          class="counter"
          {{action 'scrollToElem' '#counter-3'}}>
      3
    </span>

    {{resume/yr-download template=resume.template}}
  </li>
</ul>
