{{#if isShowModeShown}}
  <span class="show-mode">
    {{content}}
  </span>
{{else}}
  <span class="auto-mode">
    {{input type='text' value=content}}
  </span>

  <span class="tools">
    <span {{action 'edit'}}>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </span>

    <span {{action 'remove'}}>
      <i class="times">&times;</i>
    </span>
  </span>
{{/if}}
